/* Common Styles */
@use "sass:map";
@use "sass:meta";
@use "./breakpoint";

*{
    box-sizing: border-box;
}

@keyframes smoothscroll1 {
//	from, to { scroll-behavior: smooth; }
}

@keyframes smoothscroll2 {
//	from, to { scroll-behavior: smooth; }
}

html {
//	animation: smoothscroll1 1s;
	scroll-behavior: smooth;
}

html:focus-within {
	animation-name: smoothscroll2;
	scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

a,button{
    transition: color .3s ease,background-color .3s ease,border-color .3s ease, box-shadow .3s ease;
}

img{
    transition: box-shadow .3s ease;
}

pre{
	white-space: pre-wrap;
}

button{
    cursor: pointer;
	letter-spacing: 0.07rem;
}

main{
	&.wp-block-group{
		margin:0;
	}
}

.alignright{
	float:right;
}

.alignleft{
	float:left;
}

.wp-block-post-featured-image {
    a {
        vertical-align: middle;
        display: flex;
        width: 100%;
        height: 100%;

        img{
            object-fit: cover;
        }
    }    
}

.entry-content,
.__inner-container{
    word-break: break-word;
}

h1.wp-block-site-title{
	line-height: revert;
}

.wp-site-blocks{
    .wp-block-template-part{
        margin:0;
    }
}

.wp-block-columns{
    &.post-content{
        gap:24px;
    }
}

.wp-block-latest-comments{
	padding-left:0;
}

.wp-block-post-comments{
    .commentlist{
        .comment{
            padding-left:0;
        }
    }

	#comments{
        margin-bottom:1em;
    }
}

.comment-form{
    > * {
        margin:1.5rem 0;
    }

	textarea{
		resize:vertical;
	}
}

/* Post Template*/
.wp-block-post-template{
	.wp-block-post {
		overflow: hidden;
	}

    .detail{
		word-wrap: break-word;
        margin-block-start:0;

        > *{
            margin-block-start:0.5em;
        }
    }
}

.no-image{
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--wp--preset--color--tertiary);

    svg{
        margin: auto;
        width: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
        height: auto;
        stroke: var(--wp--preset--color--contrast);
    }
}

.is-style-hakoniwa-blocks-template-part-fixed{
    position: fixed;
    width: 100%;
    z-index: 20;
}

.is-style-hakoniwa-blocks-template-part-sticky{
    position: sticky;
    top: calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));
    z-index: 20;
}

.wp-block-post-featured-image{
	overflow:hidden;
	
	img{
		width: 100%;
	    height: 100%;
	    transition: all 300ms ease;
	    will-change: transform;
	    backface-visibility: hidden;
	    object-fit: cover;

		&:hover{
			transform: scale(1.05);
		}
	}
}


@media #{map.get(breakpoint.$breakpoints, "desktop")} {
	.is-hakoniwa-desktop-hidden{
		display:none !important;
	}

}

@media #{map.get(breakpoint.$breakpoints, "tablet")} {
	.is-hakoniwa-tablet-hidden{
		display:none !important;
	}
}

@media #{map.get(breakpoint.$breakpoints, "smartphone")} {
	.is-hakoniwa-smartphone-hidden{
		display:none !important;
	}
}
