/* フロント・バック共通のスタイルを書く*/
@use "sass:map";
@use "sass:meta";
@use "../global/breakpoint";

*{
    box-sizing: border-box;
}

body{
    overflow-y:scroll;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

a,button{
    transition: color .3s ease,background-color .3s ease,border-color .3s ease;
}

button{
    cursor: pointer;
}

.footer-bottom-right-content{
    bottom:1rem;
    right: 1rem;
    width: 2rem;

    #scroll-page-top{
        visibility: hidden;
        opacity: 0;
        transition: 300ms ease-in-out;

        &.show{
            opacity: 1;
        }
    }
}

@media #{map.get(breakpoint.$breakpoints, "tablet+")} {
    #scroll-page-top{
        &.is-desktop{
            &.show{
                visibility: visible;
            }
        }    
    }
}


@media #{map.get(breakpoint.$breakpoints, "tablet")} {
    #scroll-page-top{
        &.is-tablet{
            &.show{
                visibility: visible;
            }
        }    
    }
}

@media #{map.get(breakpoint.$breakpoints, "smartphone")} {
    #scroll-page-top{
        &.is-smartphone{
            &.show{
                visibility: visible;
            }
        }    
    }
}

.fixed{
    position:fixed;
}

.wp-block-post-featured-image {
    a {
        vertical-align: middle;
        display: flex;
        width: 100%;
        height: 100%;

        img{
            object-fit: cover;
        }
    }    
}

.__inner-container{
    word-break: break-all;
}

.wp-site-blocks{
    .wp-block-template-part{
        margin:0;
    }
}

.wp-block-post-content{
    [class*="wp-block-hakoniwa-blocks"]{
        /*
        a:where(:not(.wp-element-button)){
            color: inherit;
            text-decoration: inherit;
    
            &:hover{
                color: inherit;
            }
        }
        */

        /*
        .__inner-container{
            a:where(:not(.wp-element-button)){
                color: var(--wp--preset--color--primary);
                text-decoration: underline;
        
                &:hover{
                    color: var(--wp--preset--color--secondary);
                    text-decoration: none;
                }    
            }
        }
        */
    }
}

.wp-block-columns{
    &.post-content{
        gap:24px;
    }
}

.wp-block-post-comments{
    .commentlist{
        .comment{
            padding-left:0;
        }
    }
}

.comment-form{
    > * {
        margin:1.5rem 0;
    }
}

.wp-block-post-comments{
    #comments{
        margin-bottom:1em;
    }
}

.wp-block-navigation{
    .wp-block-page-list{
        gap:1em;
    }
}

/*投稿テンプレート*/
.wp-block-post-template{
    .detail{
        margin-block-start:0;

        > *{
            margin-block-start:0.5em;
        }
    }
}

[type=submit].wp-block-button__link{
    background-color: var(--wp--preset--color--primary);
}

.no-image{
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--wp--preset--color--tertiary);

    svg{
        margin: auto;
        width: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
        height: auto;
        stroke: var(--wp--preset--color--contrast);
    }
}

.is-style-hakoniwa-blocks-template-part-fixed{
    position: fixed;
    width: 100%;
    z-index: 20;
}

.is-style-hakoniwa-blocks-template-part-sticky{
    position: sticky;
    top: calc(0px + var(--wp-admin--admin-bar--position-offset, 0px));
    z-index: 20;
}
