/* フロント・バック共通のスタイルを書く*/

*{
    box-sizing: border-box;
}

body{
    overflow-y:scroll;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.wp-block-post-featured-image {
    a {
        vertical-align: middle;
        display: flex;
        width: 100%;
        height: 100%;

        img{
            object-fit: cover;
        }
    }    
}

.__inner-container{
    word-break: break-all;
}

/*
body > .is-root-container,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-group.alignfull,
.wp-block-cover.alignfull, .is-root-container .wp-block[data-align="full"] > .wp-block-group,
.is-root-container .wp-block[data-align="full"] > .wp-block-cover {
    padding-left: var(--wp--custom--spacing--outer);
    padding-right: var(--wp--custom--spacing--outer);
}

.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-cover,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
body > .is-root-container > .wp-block-cover,
body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
body > .is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container .wp-block[data-align="full"] {
    margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    width: unset;
}

.wp-site-blocks .wp-block-columns .wp-block-column .alignfull,
.is-root-container .wp-block-columns .wp-block-column .wp-block[data-align="full"],
.wp-site-blocks .alignfull:not(.wp-block-group) .alignfull,
.is-root-container .wp-block[data-align="full"] > *:not(.wp-block-group) .wp-block[data-align="full"] {
    margin-left: auto !important;
    margin-right: auto !important;
    width: inherit;
}
*/

.wp-block-columns{
    &.post-content{
        gap:24px;
    }
}

.wp-block-post-comments{
    .commentlist{
        .comment{
            padding-left:0;
        }
    }
}

.comment-form{
    > * {
        margin:1.5rem 0;
    }
}

.wp-block-post-comments{
    #comments{
        margin-bottom:1em;
    }
}

.wp-block-navigation{
    .wp-block-page-list{
        gap:1em;
    }
}

/*投稿テンプレート*/
.wp-block-post-template{
    .detail{
        margin-block-start:0;

        > *{
            margin-block-start:0.5em;
        }
    }
}

[type=submit].wp-block-button__link{
    background-color: var(--wp--preset--color--primary);
}

.no-image{
    width: 100%;
    height: 100%;
    display: flex;
    background: #f9f9f9;

    svg{
        margin: auto;
        width: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
        height: auto;
        stroke: #aaa;
    }
}