// インラインコード
code{
	background: var(--wp--preset--color--tertiary);
    padding: var(--wp--custom--padding) calc( var(--wp--custom--padding) * 1.5 );
    border-radius: var(--wp--custom--border-radius);
}