.wp-block-cover{
    &.page-title{
        min-height:clamp(8rem, 4rem + 20vw, 16rem);

        .wp-block-post-date{
			&::before{
				line-height: 1;
				vertical-align: middle;
				margin-right: 0.25rem;
				display: inline-block;
			}

            &.published{
                &::before{
					content: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4'%3E%3C/path%3E%3Cpath d='M13.5 6.5l4 4'%3E%3C/path%3E%3C/svg%3E" );
                }
            }

            &.modified{
                &::before{
					content: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M4.05 11a8 8 0 1 1 .5 4m-.5 5v-5h5'%3E%3C/path%3E%3C/svg%3E" );
                }
            }
        }

        .wp-block-post-terms{
            &::before{
                line-height: 1;
                vertical-align: middle;
                margin-right:0.25rem;
                display: inline-block;
            }

            &.taxonomy-category{
                &::before{
                    content: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M5 4h4l3 3h7a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2'%3E%3C/path%3E%3C/svg%3E" );
                }
            }

            &.taxonomy-post_tag{
                &::before{
                    content: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Ccircle cx='8.5' cy='8.5' r='1' fill='currentColor'%3E%3C/circle%3E%3Cpath d='M4 7v3.859c0 .537 .213 1.052 .593 1.432l8.116 8.116a2.025 2.025 0 0 0 2.864 0l4.834 -4.834a2.025 2.025 0 0 0 0 -2.864l-8.117 -8.116a2.025 2.025 0 0 0 -1.431 -.593h-3.859a3 3 0 0 0 -3 3z'%3E%3C/path%3E%3C/svg%3E" );
                }
            }
        }

    }
}
