
@use "sass:map";
@use "../breakpoint";
@use "../variables" as *;

.wp-block-navigation__responsive-container{
	// メニューオープン時
	&.is-menu-open{
		padding:var(--wp--custom--style--block-gap, 2rem);

		.wp-block-navigation__responsive-container-content{
			.wp-block-navigation__submenu-container{
				padding-top:inherit;
			}

			.has-child{
				.wp-block-navigation__submenu-container{
					width:100%;
					padding:0;
				}
			}
		}

		.wp-block-navigation__container,
		.wp-block-navigation__submenu-container,
		.wp-block-page-list{

			width:100%;
			max-width:400px;
			margin: auto;
			gap:0 !important;

			.wp-block-navigation-item{
				width:inherit;				
			}

			// button, a
			.wp-block-navigation-item__content{
				width:inherit;
				padding:0.75em 0 !important;

				
			}

		}

		.wp-block-navigation__container{
			margin: auto;

			// 第一階層で下の階層がある場合
			.wp-block-navigation-item{
				border-bottom: 1px solid color-mix(in srgb, currentColor 30%, transparent);

				&.has-child{
					border-bottom:none;

					.wp-block-navigation__submenu-container{
						border-top: 1px solid color-mix(in srgb, currentColor 30%, transparent);	
					}
		
				}
			}

		}

		.wp-block-navigation__submenu-container{
			.wp-block-navigation-item__content{
				padding-left:1em;
			}

			.wp-block-navigation__submenu-container{
				.wp-block-navigation-item__content{
					padding-left:2em;
				}
			}

			.wp-block-navigation-item{

				.wp-block-navigation-item__content{
					&::before{
						content: '-';
						display: inline-block;
						margin-right:0.25em;
						opacity: 0.5;
					}
				}
			}
		}

	}
}

.wp-block-navigation{
	
	.wp-block-navigation__submenu-icon{
		width: auto;
		height: auto;
		line-height:1;

		svg{
			margin-top:0;
		}
	}

	.has-child{
		.wp-block-navigation__submenu-container{
			.wp-block-navigation__submenu-icon{
				margin-right:1em;
			}
		}
	}

	&:not(.has-background){
		.wp-block-navigation__submenu-container{
			background-color:var(--wp--preset--color--base);
			color:var(--wp--preset--color--contrast);
		}
	}
}

// 個別のナビゲーション
.wp-block-navigation-item__label{
	display: inline-flex;
	gap:5px;
	align-items: center;
}