
@use "sass:map";
@use "../breakpoint";
@use "../variables" as *;

.wp-block-navigation__responsive-container{
	// メニューオープン時
	&.is-menu-open{
		padding:var(--wp--custom--style--block-gap, 2rem);

		.wp-block-navigation__responsive-container-content{
			.wp-block-navigation__submenu-container{
				padding-top:inherit;
			}

			.has-child{
				.wp-block-navigation__submenu-container{
					padding:0 0 0 1rem;
				}
			}
		}

		.wp-block-navigation__container{
			margin: auto;
		}

		.wp-block-navigation__submenu-container{
			li{
				a::before{
					content: '-';
					display: inline-block;
					margin-right:0.25em;
					opacity: 0.5;
				}
			}
		}

		.wp-block-navigation-item{
			&.has-child{
				&.open-on-hover-click{
					&.wp-block-navigation-submenu,
					&.wp-block-pages-list__item{
						gap:0.75rem;
					}
				}
			}
		}
	}
}

.wp-block-navigation{
	
	.wp-block-navigation__submenu-icon{
		width: auto;
		height: auto;
		line-height:1;

		svg{
			margin-top:0;
		}
	}

	.has-child{
		.wp-block-navigation__submenu-container{
			.wp-block-navigation__submenu-icon{
				margin-right:1em;
			}
		}
	}

	&:not(.has-background){
		.wp-block-navigation__submenu-container{
			background-color:var(--wp--preset--color--base);
			color:var(--wp--preset--color--contrast);
		}
	} 
}
