nav.wp-block-query-pagination{
	line-height: 1;
    gap:1em;

	a{
		text-decoration:none;
	}
}

.wp-block-query-pagination-numbers{
    display: flex;
    gap: 1em;
	align-items: center;

	.current{
		height: 2em;
    	width: 2em;
    	text-align: center;
    	padding: 0.5em;
    	border-radius: 4px;
		background-color:var(--wp--preset--color--tertiary);
	}
}
