[class*="hakoniwa-header"],
[class*="hakoniwa-blocks-header"]{
	.wp-block-navigation{

		.wp-block-navigation__submenu-container{
			box-shadow: 2px 7px 10px -10px color-mix(in srgb, currentColor 20%, transparent);
//			border-color:transparent;

			.wp-block-navigation-item:not(:last-child) {
				border-bottom: 1px solid color-mix(in srgb, currentColor 8%, transparent);
			}
		}
		
		a{
			line-height:1;
		}

		.is-menu-open{
			.wp-block-navigation__submenu-container{
				box-shadow:none;

				.wp-block-navigation-item:not(:last-child) {
					border-bottom: 1px solid color-mix(in srgb, currentColor 30%, transparent);
				}

				.wp-block-navigation-item{
					&.has-child{
						border-bottom:none;
					}
				}
			}	
		}
	}
}

@media (min-width: 600px) {
	[class*="hakoniwa-header"],
	[class*="hakoniwa-blocks-header"]{

		// 常時アイコン
		.wp-block-navigation__responsive-container-open{
			&.always-shown{
				margin-top: var(--wp--preset--spacing--20);
				margin-bottom: var(--wp--preset--spacing--20);
			}
		}

		// 常時アイコンで開閉ナビゲーション
		.hidden-by-default{
			.wp-block-navigation__container{
				gap:1em !important;

				.wp-block-navigation-item{
					.wp-block-navigation-item__content{
						padding: inherit;
					}
	
					&.has-child{
						.wp-block-navigation-item__content{
							padding: inherit;
						}
					}
				}
			}

		}

		.wp-block-navigation__container{
			.wp-block-navigation-item{
				cursor: pointer;

				.wp-block-navigation-item__content{
					padding: 1.5em 0;
				}

				&.has-child{
					.wp-block-navigation-item__content{
//						padding: 1.5em 0.5em 1.5em 1em;
					}
				}
			}
			
			.wp-block-navigation__submenu-container{
				border-color:transparent;
				font-size:var(--wp--preset--font-size--2-xs);

				.wp-block-navigation-item{
					.wp-block-navigation-item__content{
						padding: 1em;
					}	
				}
			}	
		}

		.wp-block-navigation-item.open-on-click .wp-block-navigation-submenu__toggle+.wp-block-navigation__submenu-icon{
			margin-left: 0.25em;
		}
	}
}

@media (max-width: 599px) {
	[class*="hakoniwa-header"],
	[class*="hakoniwa-blocks-header"]{
		.hakoniwa-header-main-content{
			padding-top: var(--wp--preset--spacing--20);
			padding-bottom: var(--wp--preset--spacing--20);
		}

		.wp-block-navigation,
		.wp-block-page-list{
			gap:1em;
			align-items: flex-start !important;
		}

		.wp-block-navigation-item{
			align-items: flex-start !important;
		}
	}	
	
}