
.wp-block-search{
	&.header-modal{
		button{
			transition: none;	
		}

		&:not(.wp-block-search__searchfield-hidden){
			animation: overlay-menu__fade-in-animation .1s ease-out;
			animation-fill-mode: forwards;

			display: flex;
			align-items: center;
			position: fixed;
			left: 0;
			right: 0;
			padding-right: var(--wp--style--root--padding-right);
			padding-left: var(--wp--style--root--padding-left);
			top: 0;
			bottom:0;
			height:100vh;
			z-index: 100;
			background-color: color-mix(in srgb, transparent 20%, var(--wp--preset--color--base));
			backdrop-filter: blur(8px);

			.wp-block-search__inside-wrapper {
				gap:1rem;
				height: auto;
				margin: auto;
				max-width: var(--wp--style--global--content-size);
			}
			
			button{
				&:hover{
					transition: color .3s ease,background-color .3s ease,border-color .3s ease, box-shadow .3s ease;
				}
			}
		}

		&.wp-block-search__searchfield-hidden{
			.wp-block-search__inside-wrapper{
				> * {
					height: 24px;
				}
			}

			.wp-block-search__button{
				padding:0;
				background-color:transparent;
				color: currentColor;
				display: inline-block;
				border:none;
			}
		}
		
		&.wp-block-search__button-only{
			.wp-block-search__input{
				transition-duration: 0s;
			}
		}
	}

}
