
.hakoniwa-options-wrapper{
    a{
        background-color: #1d2327;
        color:#f0f0f1;
        text-decoration: none;

        &:focus{
            box-shadow: revert;
        }

        &:hover{
            color:#72aee6;
        }

        &.active{
            background-color: #2271b1;
            color:#fff;
        }
    }
}
