@charset "UTF-8";
/*-----------------------------
* Responsive Breakpoints
* 783px + 			Tablet +
* 0px - 782px       Tablet
* 601px - 782px     SmartPhone - Tablet
* 601px +           SmartPhone +
* 0px - 600px       SmartPhone
------------------------------*/
/* フロント・バック共通のスタイルを書く*/
* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.footer-bottom-right-content {
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
}
.footer-bottom-right-content #scroll-page-top {
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease-in-out;
}
.footer-bottom-right-content #scroll-page-top.show {
  opacity: 1;
}

@media only screen and (min-width: 783px) {
  #scroll-page-top.is-desktop.show {
    visibility: visible;
  }
}
@media only screen and (max-width: 782px) {
  #scroll-page-top.is-tablet.show {
    visibility: visible;
  }
}
@media only screen and (max-width:600px) {
  #scroll-page-top.is-smartphone.show {
    visibility: visible;
  }
}
.fixed {
  position: fixed;
}

.wp-block-post-featured-image a {
  vertical-align: middle;
  display: flex;
  width: 100%;
  height: 100%;
}
.wp-block-post-featured-image a img {
  -o-object-fit: cover;
     object-fit: cover;
}

.__inner-container {
  word-break: break-all;
}

.wp-block-columns.post-content {
  gap: 24px;
}

.wp-block-post-comments .commentlist .comment {
  padding-left: 0;
}

.comment-form > * {
  margin: 1.5rem 0;
}

.wp-block-post-comments #comments {
  margin-bottom: 1em;
}

.wp-block-navigation .wp-block-page-list {
  gap: 1em;
}

/*投稿テンプレート*/
.wp-block-post-template .detail {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
.wp-block-post-template .detail > * {
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
}

[type=submit].wp-block-button__link {
  background-color: var(--wp--preset--color--primary);
}

.no-image {
  width: 100%;
  height: 100%;
  display: flex;
  background: #f9f9f9;
}
.no-image svg {
  margin: auto;
  width: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  height: auto;
  stroke: #aaa;
}

.has-custom-0-line-height {
  line-height: var(--wp--custom--line-height--0);
}

.has-custom-1-line-height {
  line-height: var(--wp--custom--line-height--1);
}

.has-custom-xs-line-height {
  line-height: var(--wp--custom--line-height--xs);
}

.has-custom-sm-line-height {
  line-height: var(--wp--custom--line-height--sm);
}

.has-custom-md-line-height {
  line-height: var(--wp--custom--line-height--md);
}

.has-custom-lg-line-height {
  line-height: var(--wp--custom--line-height--lg);
}

.has-custom-xl-line-height {
  line-height: var(--wp--custom--line-height--xl);
}

.has-custom-2-xl-line-height {
  line-height: var(--wp--custom--line-height--2-xl);
}

.has-custom-3-xl-line-height {
  line-height: var(--wp--custom--line-height--3-xl);
}

.border {
  border-width: calc( var(--wp--custom--border-width) * 1 );
}

.border-2 {
  border-width: calc( var(--wp--custom--border-width) * 2 );
}

.border-4 {
  border-width: calc( var(--wp--custom--border-width) * 4 );
}

.border-8 {
  border-width: calc( var(--wp--custom--border-width) * 8 );
}

.border-solid {
  border-style: solid;
}

.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed;
}

.border-double {
  border-style: double;
}

.rounded-none {
  border-radius: calc( var(--wp--custom--border-radius) * 0 );
}

.rounded-sm {
  border-radius: calc( var(--wp--custom--border-radius) * 0.5 );
}

.rounded {
  border-radius: calc( var(--wp--custom--border-radius) * 1 );
}

.rounded-md {
  border-radius: calc( var(--wp--custom--border-radius) * 1.5 );
}

.rounded-lg {
  border-radius: calc( var(--wp--custom--border-radius) * 2 );
}

.rounded-xl {
  border-radius: calc( var(--wp--custom--border-radius) * 3 );
}

.rounded-2xl {
  border-radius: calc( var(--wp--custom--border-radius) * 4 );
}

.rounded-3xl {
  border-radius: calc( var(--wp--custom--border-radius) * 6 );
}

.rounded-full {
  border-radius: 9999px;
}

.p-1 {
  padding: calc( var( --wp--custom--padding ) * 1 );
}

.p-2 {
  padding: calc( var( --wp--custom--padding ) * 2 );
}

.p-4 {
  padding: calc( var( --wp--custom--padding ) * 4 );
}

.p-6 {
  padding: calc( var( --wp--custom--padding ) * 6 );
}

.p-8 {
  padding: calc( var( --wp--custom--padding ) * 8 );
}

.px-1 {
  padding-left: calc( var( --wp--custom--padding ) * 1 );
  padding-right: calc( var( --wp--custom--padding ) * 1 );
}

.px-2 {
  padding-left: calc( var( --wp--custom--padding ) * 2 );
  padding-right: calc( var( --wp--custom--padding ) * 2 );
}

.px-4 {
  padding-left: calc( var( --wp--custom--padding ) * 4 );
  padding-right: calc( var( --wp--custom--padding ) * 4 );
}

.px-6 {
  padding-left: calc( var( --wp--custom--padding ) * 6 );
  padding-right: calc( var( --wp--custom--padding ) * 6 );
}

.px-8 {
  padding-left: calc( var( --wp--custom--padding ) * 8 );
  padding-right: calc( var( --wp--custom--padding ) * 8 );
}

.py-1 {
  padding-top: calc( var( --wp--custom--padding ) * 1 );
  padding-bottom: calc( var( --wp--custom--padding ) * 1 );
}

.py-2 {
  padding-top: calc( var( --wp--custom--padding ) * 2 );
  padding-bottom: calc( var( --wp--custom--padding ) * 2 );
}

.py-4 {
  padding-top: calc( var( --wp--custom--padding ) * 4 );
  padding-bottom: calc( var( --wp--custom--padding ) * 4 );
}

.py-6 {
  padding-top: calc( var( --wp--custom--padding ) * 6 );
  padding-bottom: calc( var( --wp--custom--padding ) * 6 );
}

.py-8 {
  padding-top: calc( var( --wp--custom--padding ) * 8 );
  padding-bottom: calc( var( --wp--custom--padding ) * 8 );
}

.pt-1 {
  padding-top: calc( var( --wp--custom--padding ) * 1 );
}

.pt-2 {
  padding-top: calc( var( --wp--custom--padding ) * 2 );
}

.pt-4 {
  padding-top: calc( var( --wp--custom--padding ) * 4 );
}

.pt-6 {
  padding-top: calc( var( --wp--custom--padding ) * 6 );
}

.pt-8 {
  padding-top: calc( var( --wp--custom--padding ) * 8 );
}

.pb-1 {
  padding-bottom: calc( var( --wp--custom--padding ) * 1 );
}

.pb-2 {
  padding-bottom: calc( var( --wp--custom--padding ) * 2 );
}

.pb-4 {
  padding-bottom: calc( var( --wp--custom--padding ) * 4 );
}

.pb-6 {
  padding-bottom: calc( var( --wp--custom--padding ) * 6 );
}

.pb-8 {
  padding-bottom: calc( var( --wp--custom--padding ) * 8 );
}

.pl-1 {
  padding-left: calc( var( --wp--custom--padding ) * 1 );
}

.pl-2 {
  padding-left: calc( var( --wp--custom--padding ) * 2 );
}

.pl-4 {
  padding-left: calc( var( --wp--custom--padding ) * 4 );
}

.pl-6 {
  padding-left: calc( var( --wp--custom--padding ) * 6 );
}

.pl-8 {
  padding-left: calc( var( --wp--custom--padding ) * 8 );
}

.pr-1 {
  padding-right: calc( var( --wp--custom--padding ) * 1 );
}

.pr-2 {
  padding-right: calc( var( --wp--custom--padding ) * 2 );
}

.pr-4 {
  padding-right: calc( var( --wp--custom--padding ) * 4 );
}

.pr-6 {
  padding-right: calc( var( --wp--custom--padding ) * 6 );
}

.pr-8 {
  padding-right: calc( var( --wp--custom--padding ) * 8 );
}

.gap-1 {
  gap: calc( var( --wp--custom--gap ) * 1 );
}

.gap-2 {
  gap: calc( var( --wp--custom--gap ) * 2 );
}

.gap-4 {
  gap: calc( var( --wp--custom--gap ) * 4 );
}

.gap-6 {
  gap: calc( var( --wp--custom--gap ) * 6 );
}

.gap-8 {
  gap: calc( var( --wp--custom--gap ) * 8 );
}

.backdrop-blur-none {
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

.backdrop-blur-sm {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.backdrop-blur- {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.backdrop-blur-md {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.backdrop-blur-lg {
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}

.backdrop-blur-xl {
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}

.backdrop-blur-2xl {
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}

.backdrop-blur-3xl {
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
}

.hover\:backdrop-blur-none:hover {
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

.hover\:backdrop-blur-sm:hover {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.hover\:backdrop-blur-:hover {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.hover\:backdrop-blur-md:hover {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.hover\:backdrop-blur-lg:hover {
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}

.hover\:backdrop-blur-xl:hover {
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}

.hover\:backdrop-blur-2xl:hover {
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}

.hover\:backdrop-blur-3xl:hover {
  -webkit-backdrop-filter: blur(64px);
          backdrop-filter: blur(64px);
}

.backdrop-opacity-0 {
  -webkit-backdrop-filter: opacity(0);
          backdrop-filter: opacity(0);
}

.backdrop-opacity-5 {
  -webkit-backdrop-filter: opacity(0.05);
          backdrop-filter: opacity(0.05);
}

.backdrop-opacity-10 {
  -webkit-backdrop-filter: opacity(0.1);
          backdrop-filter: opacity(0.1);
}

.backdrop-opacity-20 {
  -webkit-backdrop-filter: opacity(0.2);
          backdrop-filter: opacity(0.2);
}

.backdrop-opacity-25 {
  -webkit-backdrop-filter: opacity(0.25);
          backdrop-filter: opacity(0.25);
}

.backdrop-opacity-30 {
  -webkit-backdrop-filter: opacity(0.3);
          backdrop-filter: opacity(0.3);
}

.backdrop-opacity-40 {
  -webkit-backdrop-filter: opacity(0.4);
          backdrop-filter: opacity(0.4);
}

.backdrop-opacity-50 {
  -webkit-backdrop-filter: opacity(0.5);
          backdrop-filter: opacity(0.5);
}

.backdrop-opacity-60 {
  -webkit-backdrop-filter: opacity(0.6);
          backdrop-filter: opacity(0.6);
}

.backdrop-opacity-70 {
  -webkit-backdrop-filter: opacity(0.7);
          backdrop-filter: opacity(0.7);
}

.backdrop-opacity-75 {
  -webkit-backdrop-filter: opacity(0.75);
          backdrop-filter: opacity(0.75);
}

.backdrop-opacity-80 {
  -webkit-backdrop-filter: opacity(0.8);
          backdrop-filter: opacity(0.8);
}

.backdrop-opacity-90 {
  -webkit-backdrop-filter: opacity(0.9);
          backdrop-filter: opacity(0.9);
}

.backdrop-opacity-95 {
  -webkit-backdrop-filter: opacity(0.95);
          backdrop-filter: opacity(0.95);
}

.backdrop-opacity-100 {
  -webkit-backdrop-filter: opacity(1);
          backdrop-filter: opacity(1);
}

.hover\:backdrop-opacity-0:hover {
  -webkit-backdrop-filter: opacity(0);
          backdrop-filter: opacity(0);
}

.hover\:backdrop-opacity-5:hover {
  -webkit-backdrop-filter: opacity(0.05);
          backdrop-filter: opacity(0.05);
}

.hover\:backdrop-opacity-10:hover {
  -webkit-backdrop-filter: opacity(0.1);
          backdrop-filter: opacity(0.1);
}

.hover\:backdrop-opacity-20:hover {
  -webkit-backdrop-filter: opacity(0.2);
          backdrop-filter: opacity(0.2);
}

.hover\:backdrop-opacity-25:hover {
  -webkit-backdrop-filter: opacity(0.25);
          backdrop-filter: opacity(0.25);
}

.hover\:backdrop-opacity-30:hover {
  -webkit-backdrop-filter: opacity(0.3);
          backdrop-filter: opacity(0.3);
}

.hover\:backdrop-opacity-40:hover {
  -webkit-backdrop-filter: opacity(0.4);
          backdrop-filter: opacity(0.4);
}

.hover\:backdrop-opacity-50:hover {
  -webkit-backdrop-filter: opacity(0.5);
          backdrop-filter: opacity(0.5);
}

.hover\:backdrop-opacity-60:hover {
  -webkit-backdrop-filter: opacity(0.6);
          backdrop-filter: opacity(0.6);
}

.hover\:backdrop-opacity-70:hover {
  -webkit-backdrop-filter: opacity(0.7);
          backdrop-filter: opacity(0.7);
}

.hover\:backdrop-opacity-75:hover {
  -webkit-backdrop-filter: opacity(0.75);
          backdrop-filter: opacity(0.75);
}

.hover\:backdrop-opacity-80:hover {
  -webkit-backdrop-filter: opacity(0.8);
          backdrop-filter: opacity(0.8);
}

.hover\:backdrop-opacity-90:hover {
  -webkit-backdrop-filter: opacity(0.9);
          backdrop-filter: opacity(0.9);
}

.hover\:backdrop-opacity-95:hover {
  -webkit-backdrop-filter: opacity(0.95);
          backdrop-filter: opacity(0.95);
}

.hover\:backdrop-opacity-100:hover {
  -webkit-backdrop-filter: opacity(1);
          backdrop-filter: opacity(1);
}

.backdrop-sepia-0 {
  -webkit-backdrop-filter: sepia(0);
          backdrop-filter: sepia(0);
}

.backdrop-sepia {
  -webkit-backdrop-filter: sepia(100%);
          backdrop-filter: sepia(100%);
}

.hover\:backdrop-sepia-0:hover {
  -webkit-backdrop-filter: sepia(0);
          backdrop-filter: sepia(0);
}

.hover\:backdrop-sepia:hover {
  -webkit-backdrop-filter: sepia(100%);
          backdrop-filter: sepia(100%);
}

.backdrop-saturate-0 {
  -webkit-backdrop-filter: saturate(0);
          backdrop-filter: saturate(0);
}

.backdrop-saturate-50 {
  -webkit-backdrop-filter: saturate(0.5);
          backdrop-filter: saturate(0.5);
}

.backdrop-saturate-100 {
  -webkit-backdrop-filter: saturate(1);
          backdrop-filter: saturate(1);
}

.backdrop-saturate-150 {
  -webkit-backdrop-filter: saturate(1.5);
          backdrop-filter: saturate(1.5);
}

.backdrop-saturate-200 {
  -webkit-backdrop-filter: saturate(2);
          backdrop-filter: saturate(2);
}

.hover\:backdrop-saturate-0:hover {
  -webkit-backdrop-filter: saturate(0);
          backdrop-filter: saturate(0);
}

.hover\:backdrop-saturate-50:hover {
  -webkit-backdrop-filter: saturate(0.5);
          backdrop-filter: saturate(0.5);
}

.hover\:backdrop-saturate-100:hover {
  -webkit-backdrop-filter: saturate(1);
          backdrop-filter: saturate(1);
}

.hover\:backdrop-saturate-150:hover {
  -webkit-backdrop-filter: saturate(1.5);
          backdrop-filter: saturate(1.5);
}

.hover\:backdrop-saturate-200:hover {
  -webkit-backdrop-filter: saturate(2);
          backdrop-filter: saturate(2);
}

.backdrop-hue-rotate-0 {
  -webkit-backdrop-filter: hue-rotate(0deg);
          backdrop-filter: hue-rotate(0deg);
}

.backdrop-hue-rotate-15 {
  -webkit-backdrop-filter: hue-rotate(15deg);
          backdrop-filter: hue-rotate(15deg);
}

.backdrop-hue-rotate-30 {
  -webkit-backdrop-filter: hue-rotate(30deg);
          backdrop-filter: hue-rotate(30deg);
}

.backdrop-hue-rotate-60 {
  -webkit-backdrop-filter: hue-rotate(60deg);
          backdrop-filter: hue-rotate(60deg);
}

.backdrop-hue-rotate-90 {
  -webkit-backdrop-filter: hue-rotate(90deg);
          backdrop-filter: hue-rotate(90deg);
}

.backdrop-hue-rotate-180 {
  -webkit-backdrop-filter: hue-rotate(180deg);
          backdrop-filter: hue-rotate(180deg);
}

.hover\:backdrop-hue-rotate-0:hover {
  -webkit-backdrop-filter: hue-rotate(0deg);
          backdrop-filter: hue-rotate(0deg);
}

.hover\:backdrop-hue-rotate-15:hover {
  -webkit-backdrop-filter: hue-rotate(15deg);
          backdrop-filter: hue-rotate(15deg);
}

.hover\:backdrop-hue-rotate-30:hover {
  -webkit-backdrop-filter: hue-rotate(30deg);
          backdrop-filter: hue-rotate(30deg);
}

.hover\:backdrop-hue-rotate-60:hover {
  -webkit-backdrop-filter: hue-rotate(60deg);
          backdrop-filter: hue-rotate(60deg);
}

.hover\:backdrop-hue-rotate-90:hover {
  -webkit-backdrop-filter: hue-rotate(90deg);
          backdrop-filter: hue-rotate(90deg);
}

.hover\:backdrop-hue-rotate-180:hover {
  -webkit-backdrop-filter: hue-rotate(180deg);
          backdrop-filter: hue-rotate(180deg);
}

.backdrop-invert-0 {
  -webkit-backdrop-filter: invert(0);
          backdrop-filter: invert(0);
}

.backdrop-invert {
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
}

.hover\:backdrop-invert-0:hover {
  -webkit-backdrop-filter: invert(0);
          backdrop-filter: invert(0);
}

.hover\:backdrop-invert:hover {
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
}

.backdrop-brightness-0 {
  -webkit-backdrop-filter: brightness(0);
          backdrop-filter: brightness(0);
}

.backdrop-brightness-50 {
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
}

.backdrop-brightness-75 {
  -webkit-backdrop-filter: brightness(0.75);
          backdrop-filter: brightness(0.75);
}

.backdrop-brightness-90 {
  -webkit-backdrop-filter: brightness(0.9);
          backdrop-filter: brightness(0.9);
}

.backdrop-brightness-95 {
  -webkit-backdrop-filter: brightness(0.95);
          backdrop-filter: brightness(0.95);
}

.backdrop-brightness-100 {
  -webkit-backdrop-filter: brightness(1);
          backdrop-filter: brightness(1);
}

.backdrop-brightness-105 {
  -webkit-backdrop-filter: brightness(1.05);
          backdrop-filter: brightness(1.05);
}

.backdrop-brightness-110 {
  -webkit-backdrop-filter: brightness(1.1);
          backdrop-filter: brightness(1.1);
}

.backdrop-brightness-125 {
  -webkit-backdrop-filter: brightness(1.25);
          backdrop-filter: brightness(1.25);
}

.backdrop-brightness-150 {
  -webkit-backdrop-filter: brightness(1.5);
          backdrop-filter: brightness(1.5);
}

.backdrop-brightness-200 {
  -webkit-backdrop-filter: brightness(2);
          backdrop-filter: brightness(2);
}

.hover\:backdrop-brightness-0:hover {
  -webkit-backdrop-filter: brightness(0);
          backdrop-filter: brightness(0);
}

.hover\:backdrop-brightness-50:hover {
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
}

.hover\:backdrop-brightness-75:hover {
  -webkit-backdrop-filter: brightness(0.75);
          backdrop-filter: brightness(0.75);
}

.hover\:backdrop-brightness-90:hover {
  -webkit-backdrop-filter: brightness(0.9);
          backdrop-filter: brightness(0.9);
}

.hover\:backdrop-brightness-95:hover {
  -webkit-backdrop-filter: brightness(0.95);
          backdrop-filter: brightness(0.95);
}

.hover\:backdrop-brightness-100:hover {
  -webkit-backdrop-filter: brightness(1);
          backdrop-filter: brightness(1);
}

.hover\:backdrop-brightness-105:hover {
  -webkit-backdrop-filter: brightness(1.05);
          backdrop-filter: brightness(1.05);
}

.hover\:backdrop-brightness-110:hover {
  -webkit-backdrop-filter: brightness(1.1);
          backdrop-filter: brightness(1.1);
}

.hover\:backdrop-brightness-125:hover {
  -webkit-backdrop-filter: brightness(1.25);
          backdrop-filter: brightness(1.25);
}

.hover\:backdrop-brightness-150:hover {
  -webkit-backdrop-filter: brightness(1.5);
          backdrop-filter: brightness(1.5);
}

.hover\:backdrop-brightness-200:hover {
  -webkit-backdrop-filter: brightness(2);
          backdrop-filter: brightness(2);
}

.backdrop-contrast-0 {
  -webkit-backdrop-filter: contrast(0);
          backdrop-filter: contrast(0);
}

.backdrop-contrast-50 {
  -webkit-backdrop-filter: contrast(0.5);
          backdrop-filter: contrast(0.5);
}

.backdrop-contrast-75 {
  -webkit-backdrop-filter: contrast(0.75);
          backdrop-filter: contrast(0.75);
}

.backdrop-contrast-100 {
  -webkit-backdrop-filter: contrast(1);
          backdrop-filter: contrast(1);
}

.backdrop-contrast-105 {
  -webkit-backdrop-filter: contrast(1.05);
          backdrop-filter: contrast(1.05);
}

.backdrop-contrast-125 {
  -webkit-backdrop-filter: contrast(1.25);
          backdrop-filter: contrast(1.25);
}

.backdrop-contrast-150 {
  -webkit-backdrop-filter: contrast(1.5);
          backdrop-filter: contrast(1.5);
}

.backdrop-contrast-200 {
  -webkit-backdrop-filter: contrast(2);
          backdrop-filter: contrast(2);
}

.hover\:backdrop-contrast-0:hover {
  -webkit-backdrop-filter: contrast(0);
          backdrop-filter: contrast(0);
}

.hover\:backdrop-contrast-50:hover {
  -webkit-backdrop-filter: contrast(0.5);
          backdrop-filter: contrast(0.5);
}

.hover\:backdrop-contrast-75:hover {
  -webkit-backdrop-filter: contrast(0.75);
          backdrop-filter: contrast(0.75);
}

.hover\:backdrop-contrast-100:hover {
  -webkit-backdrop-filter: contrast(1);
          backdrop-filter: contrast(1);
}

.hover\:backdrop-contrast-105:hover {
  -webkit-backdrop-filter: contrast(1.05);
          backdrop-filter: contrast(1.05);
}

.hover\:backdrop-contrast-125:hover {
  -webkit-backdrop-filter: contrast(1.25);
          backdrop-filter: contrast(1.25);
}

.hover\:backdrop-contrast-150:hover {
  -webkit-backdrop-filter: contrast(1.5);
          backdrop-filter: contrast(1.5);
}

.hover\:backdrop-contrast-200:hover {
  -webkit-backdrop-filter: contrast(2);
          backdrop-filter: contrast(2);
}

.backdrop-grayscale-0 {
  -webkit-backdrop-filter: grayscale(0);
          backdrop-filter: grayscale(0);
}

.backdrop-grayscale {
  -webkit-backdrop-filter: grayscale(100%);
          backdrop-filter: grayscale(100%);
}

.hover\:backdrop-grayscale-0:hover {
  -webkit-backdrop-filter: grayscale(0);
          backdrop-filter: grayscale(0);
}

.hover\:backdrop-grayscale:hover {
  -webkit-backdrop-filter: grayscale(100%);
          backdrop-filter: grayscale(100%);
}

.shadow-sm {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.shadow- {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.shadow-inner {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.shadow-none {
  box-shadow: 0 0 #0000;
}

.hover\:shadow-sm:hover {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.hover\:shadow-:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.hover\:shadow-md:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.hover\:shadow-lg:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.hover\:shadow-xl:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.hover\:shadow-2xl:hover {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.hover\:shadow-inner:hover {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.hover\:shadow-none:hover {
  box-shadow: 0 0 #0000;
}

.aspect-ratio-16-9 {
  aspect-ratio: 16/9;
}

.aspect-ratio-4-3 {
  aspect-ratio: 4/3;
}

.aspect-ratio-3-2 {
  aspect-ratio: 3/2;
}

.aspect-ratio-1-1 {
  aspect-ratio: 1/1;
}

.aspect-ratio-191-100 {
  aspect-ratio: 1.91/1;
}

.wp-block-calendar tbody td {
  border-color: var(--wp--preset--color--foreground);
}
.wp-block-calendar th {
  border-color: var(--wp--preset--color--foreground);
}
.wp-block-calendar table th {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--background);
}

.wp-block-search .wp-block-search__button {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--background);
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.wp-block-post-excerpt .wp-block-post-excerpt__excerpt {
  margin: 0;
}

.wp-block-query .wp-block-post-title {
  margin: 0;
}
.wp-block-query .wp-block-post-featured-image {
  margin-bottom: 0.5em;
}

.wp-block-cover.page-title {
  min-height: clamp(8rem, 4rem + 20vw, 16rem);
}

nav.wp-block-query-pagination {
  gap: 1em;
}

.wp-block-query-pagination-numbers {
  display: flex;
  gap: 0.5em;
}

.has-drop-cap:not(:focus):first-letter {
  font-size: 3em;
  float: none;
  line-height: normal;
}

body {
  line-height: 1.5;
}

body.block-editor-writing-flow {
  font-size: var(--wp--preset--font-size--main-content);
}

h1 {
  font-size: var(--wp--preset--font-size--2-xl);
}

h2 {
  font-size: var(--wp--preset--font-size--xl);
}

h3 {
  font-size: var(--wp--preset--font-size--lg);
}

h4 {
  font-size: var(--wp--preset--font-size--md);
}

h5 {
  font-size: var(--wp--preset--font-size--sm);
}

h6 {
  font-size: var(--wp--preset--font-size--xs);
}

ul, ol {
  list-style-position: inside;
  padding-left: 0;
}
ul li ul, ul li ol, ol li ul, ol li ol {
  padding-left: 1em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

.wp-block-list li div {
  display: inline-block;
}

.wp-block-post-template a {
  text-decoration: none;
}

/*
.wp-block-list{
    padding:0;
}
*/
