@charset "UTF-8";
/* フロント・バック共通のスタイルを書く*/
* {
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.wp-block-post-featured-image a {
  vertical-align: middle;
  display: flex;
  width: 100%;
  height: 100%;
}
.wp-block-post-featured-image a img {
  -o-object-fit: cover;
     object-fit: cover;
}

/*
body > .is-root-container,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-group.alignfull,
.wp-block-cover.alignfull, .is-root-container .wp-block[data-align="full"] > .wp-block-group,
.is-root-container .wp-block[data-align="full"] > .wp-block-cover {
    padding-left: var(--wp--custom--spacing--outer);
    padding-right: var(--wp--custom--spacing--outer);
}

.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-cover,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
body > .is-root-container > .wp-block-cover,
body > .is-root-container > .wp-block-template-part > .wp-block-group.has-background,
body > .is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container .wp-block[data-align="full"] {
    margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    width: unset;
}

.wp-site-blocks .wp-block-columns .wp-block-column .alignfull,
.is-root-container .wp-block-columns .wp-block-column .wp-block[data-align="full"],
.wp-site-blocks .alignfull:not(.wp-block-group) .alignfull,
.is-root-container .wp-block[data-align="full"] > *:not(.wp-block-group) .wp-block[data-align="full"] {
    margin-left: auto !important;
    margin-right: auto !important;
    width: inherit;
}
*/
.wp-block-columns.post-content {
  gap: 24px;
}

.wp-block-post-comments .commentlist .comment {
  padding-left: 0;
}

.comment-form > * {
  margin: 1.5rem 0;
}

.wp-block-post-comments #comments {
  margin-bottom: 1em;
}

.page-title .wp-block-group {
  margin: 0.5em 0;
}

.wp-block-navigation .wp-block-page-list {
  gap: 1em;
}

/*投稿テンプレート*/
.wp-block-post-template .detail {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
.wp-block-post-template .detail > * {
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
}

[type=submit].wp-block-button__link {
  background-color: var(--wp--preset--color--primary);
}

.no-image {
  width: 100%;
  height: 100%;
  display: flex;
  background: #f9f9f9;
}
.no-image svg {
  margin: auto;
  width: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  height: auto;
  stroke: #aaa;
}

.has-custom-0-line-height {
  line-height: var(--wp--custom--line-height--0);
}

.has-custom-1-line-height {
  line-height: var(--wp--custom--line-height--1);
}

.has-custom-xs-line-height {
  line-height: var(--wp--custom--line-height--xs);
}

.has-custom-sm-line-height {
  line-height: var(--wp--custom--line-height--sm);
}

.has-custom-md-line-height {
  line-height: var(--wp--custom--line-height--md);
}

.has-custom-lg-line-height {
  line-height: var(--wp--custom--line-height--lg);
}

.has-custom-xl-line-height {
  line-height: var(--wp--custom--line-height--xl);
}

.has-custom-2-xl-line-height {
  line-height: var(--wp--custom--line-height--2-xl);
}

.has-custom-3-xl-line-height {
  line-height: var(--wp--custom--line-height--3-xl);
}

.aspect-ratio-16-9 {
  aspect-ratio: 16/9;
}

.aspect-ratio-4-3 {
  aspect-ratio: 4/3;
}

.aspect-ratio-3-2 {
  aspect-ratio: 3/2;
}

.aspect-ratio-1-1 {
  aspect-ratio: 1/1;
}

.aspect-ratio-191-100 {
  aspect-ratio: 1.91/1;
}

.wp-block-calendar tbody td {
  border-color: var(--wp--preset--color--foreground);
}
.wp-block-calendar th {
  border-color: var(--wp--preset--color--foreground);
}
.wp-block-calendar table th {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--background);
}

.wp-block-search .wp-block-search__button {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--background);
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.wp-block-post-excerpt .wp-block-post-excerpt__excerpt {
  margin: 0;
}

.wp-block-query .wp-block-post-title {
  margin: 0;
}
.wp-block-query .wp-block-post-featured-image {
  margin-bottom: 0.5em;
}

.wp-block-cover.page-title {
  min-height: clamp(8rem, 4rem + 20vw, 16rem);
}

nav.wp-block-query-pagination {
  gap: 1em;
}

.wp-block-query-pagination-numbers {
  display: flex;
  gap: 0.5em;
}

.has-drop-cap:not(:focus):first-letter {
  font-size: 3em;
  float: none;
  line-height: normal;
}

main {
  font-size: var(--wp--preset--font-size--main-content);
}
main ul, main ol {
  list-style-position: inside;
  padding-left: 0;
}
main ul li ul, main ul li ol, main ol li ul, main ol li ol {
  padding-left: 1em;
}
main ul {
  list-style-type: disc;
}
main ol {
  list-style-type: decimal;
}

.has-block-gap > * {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.has-block-gap > * + * {
  -webkit-margin-before: var(--wp--style--block-gap);
          margin-block-start: var(--wp--style--block-gap);
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
