@use "post-content";
@use "block";


html :where(.is-style-hakoniwa-blocks-template-part-sticky) {
    --wp-admin--admin-bar--position-offset: var(--wp-admin--admin-bar--height,0px);
}

@media screen and (max-width: 600px){
    html :where(.is-style-hakoniwa-blocks-template-part-sticky) {
        --wp-admin--admin-bar--position-offset: 0px;
    }

    .is-style-hakoniwa-blocks-template-part-fixed{
        top:0;
    }
    
}