body{
    line-height:1.5;
}

.is-root-container{
	font-size: var(--wp--preset--font-size--main-content);
}

h1{
    font-size: var(--wp--preset--font-size--2-xl);
}

h2{
    font-size: var(--wp--preset--font-size--xl);
}

h3{
    font-size: var(--wp--preset--font-size--lg);
}

h4{
    font-size: var(--wp--preset--font-size--md);
}

h5{
    font-size: var(--wp--preset--font-size--sm);
}

h6{
    font-size: var(--wp--preset--font-size--xs);
}
