@use "sass:map";
@use "../../breakpoint";
@use "../../variables" as *;

.is-style-#{$product-name}-border-01{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.is-style-#{$product-name}-border-02{
    border-bottom: 1px solid;
    padding-bottom:0.5em;
}

.is-style-#{$product-name}-border-03{
    border: 1px solid;
    padding:0.5em;
}

.is-style-#{$product-name}-border-04:not(.block-editor-block-list__layout){
    align-items: center;
    display: flex;

    &::before{
        margin-right: 1em;
    }

    &::after{
        margin-left: 1em;
    }

    &::before,
    &::after{
        border-top: 1px solid;
        content: "";
        flex-grow: 1;
        position: static;
    }
}

.is-style-#{$product-name}-bracket-01:not(.block-editor-block-list__layout){
    display: table;
    padding-top:0.5em;
    padding-bottom:0.5em;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    position: relative;
    width:100%;
    text-align: center;

    &::before{
        border-left: 1px solid;
        border-top: 1px solid;
        bottom: auto;
        left: 0;
        right: auto;
        top: 0;
    }

    &::after{
        border-bottom: 1px solid;
        border-right: 1px solid;
        bottom: 0;
        left: auto;
        right: 0;
        top: auto;
    }

    &::before,
    &::after{
        border-radius: 0;
        position: absolute;
        content: "";
        height: 1em;
        width: 1em;
    }
}

.is-style-#{$product-name}-border-05:not(.block-editor-block-list__layout){
	position: relative;
    border-bottom: 2px solid;
    padding-bottom:0.5em;

	&::after{
		position: absolute;
		left:  0;
		bottom: -2px;
		display: block;
		content: " ";
		width: 10%;
		border-bottom: 2px solid color-mix(in srgb, var(--wp--preset--color--primary), transparent 0% );
	}
}

.is-style-#{$product-name}-border-06:not(.block-editor-block-list__layout){
	position: relative;
    padding-bottom:0.5em;

	&::after{
		position: absolute;
		left:  0;
		bottom: -4px;
		content: "";
		width: 100%;
		height:4px;
		background-image:linear-gradient(-45deg, transparent 25%, currentColor 25%, currentColor 50%, transparent 50%, transparent 75%, currentColor 75%, currentColor);
		background-size: 4px 4px;
	}
}

.is-style-#{$product-name}-bracket-02:not(.block-editor-block-list__layout){
    display: table;
    padding-top:0.5em;
    padding-bottom:0.5em;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    position: relative;
    width:100%;
    text-align: center;

    &::before{
        border-bottom: 1px solid;
        border-left: 1px solid;
        border-top: 1px solid;
        bottom: 0;
        left: 0;
        right: auto;
        top: 0;
    }

    &::after{
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-top: 1px solid;
        bottom: 0;
        left: auto;
        right: 0;
        top: 0;
    }

    &::before,
    &::after{
        border-radius: 0;
        content: "";
        height: 100%;
        position: absolute;
        width: 0.5rem;
    }
}
