
.backdrop-invert-0{
    backdrop-filter: invert(0);
}

.backdrop-invert{
	backdrop-filter: invert(100%);
}

.hover\:backdrop-invert-0:hover{
    backdrop-filter: invert(0);
}

.hover\:backdrop-invert:hover{
	backdrop-filter: invert(100%);
}
