/* Common Styles */
@use "sass:map";
@use "sass:meta";
@use "../../global/breakpoint";

.wp-site-blocks,
.editor-styles-wrapper{
	input{

		&[type="button"]{
			border:none;
			padding: 0.75em 1.5em;
			letter-spacing: 0.07rem;
		}
	
		&[type="submit"]{
			color: var(--wp--preset--color--base);
			background-color: var(--wp--preset--color--primary);
			border:1px solid var(--wp--preset--color--primary);
			cursor: pointer;
			padding: 0.75em 1.5em;
			transition: color .3s ease,background-color .3s ease,border-color;
			letter-spacing: 0.07rem;

			&:hover{
				background-color: color-mix(in srgb, var(--wp--preset--color--primary) 80%, #222);
				border:1px solid color-mix(in srgb, var(--wp--preset--color--primary) 80%, #222);	
			}
		}
	
		&[type="reset"]{
			border:1px solid color-mix(in srgb, currentColor 30%, transparent);
			background-color:transparent;
			cursor: pointer;
			color:var(--wp--preset--color--contranst);
			padding: 0.75em 1.5em;
			letter-spacing: 0.07rem;
		}
	
		&[type="file"]{
			cursor: pointer;
			border:1px solid color-mix(in srgb, currentColor 30%, transparent);
			padding: 0.75em;
		}
	
		&[type="email"],
		&[type="number"],
		&[type="password"],
		&[type="tel"],
		&[type="text"],
		&[type="url"]{
			font-size: var(--wp--preset--font-size--2-xs);
			background-color:transparent;
			color:var(--wp--preset--color--contrast);
			border:1px solid color-mix(in srgb, currentColor 30%, transparent);
			padding: 0 1em;
			min-height: 2.75em;
			width: 100%;
			letter-spacing: 0.07rem;
	
			&:focus{
				outline: solid;
				outline-width: 2px;
				outline-color: var(--wp--preset--color--primary);
				outline-offset: -2px;
			}
	
		}
	
		&[type="search"]{
	
			&:focus{
				outline: solid;
				outline-width: 2px;
				outline-color: var(--wp--preset--color--primary);
				outline-offset: -2px;
			}
		}
	
		&[type="checkbox"],
		&[type="radio"]{
			appearance: none;
			cursor: pointer;
			position: relative;
			width: 20px;
			height: 20px;
			margin: 0 0.25rem 0 0;
			border: 1px solid color-mix(in srgb, var(--wp--preset--color--contrast) 30%, transparent);
			outline: 0;
			vertical-align: middle;
			top: -2px;
	
			&:checked {
				border-color:var(--wp--preset--color--primary);
				background-color: var(--wp--preset--color--primary);
	
				&:before {
					position: absolute;
					content: "";
					mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb25zLXRhYmxlci1vdXRsaW5lIGljb24tdGFibGVyLWNoZWNrIj48cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNNSAxMmw1IDVsMTAgLTEwIiAvPjwvc3ZnPg==");
					background-color: var(--wp--preset--color--base);
					mask-size: 14px;
					mask-position: center;
					width: 100%;
					height: 100%;
					left:0;
					margin:0;
				}
			}
	
		}
	
		&[type="radio"]{
			border-radius: 50%;
		}
	
		&[type="range"]{
		}
	
	
	}
	
	textarea{
		font-size: var(--wp--preset--font-size--2-xs);
		background-color:transparent;
		color:var(--wp--preset--color--contrast);
		border:1px solid color-mix(in srgb, currentColor 30%, transparent);
		padding: 1em;
		width: 100%;
		min-height: 7em;
		resize: vertical;
		letter-spacing: 0.07rem;

		&:focus{
			outline: solid;
			outline-color: var(--wp--preset--color--primary);
			outline-width: 2px;
			outline-offset: -2px;
		}
	}
	
	select{
		font-size: var(--wp--preset--font-size--2-xs);
		border:1px solid color-mix(in srgb, currentColor 30%, transparent);
		height: 2.75em;
		letter-spacing: 0.07rem;
	
		&:focus{
			outline: solid;
			outline-color: var(--wp--preset--color--primary);
			outline-width: 2px;
			outline-offset: -2px;
		}
	}
	
	select{
		cursor: pointer;
		appearance: none;
		background: transparent url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 1em top 55%;
		background-size: 16px 16px;
		box-shadow: none;
		min-height: 30px;
		padding: 0 3em 0 1em;
		vertical-align: middle;
		min-width: 10em;
		color: currentColor;
	}
	
	label{
	
	}
	
	legend{
		padding: 0 0.5em;
	}

	fieldset{
		border:1px solid color-mix(in srgb, currentColor 30%, transparent);
	}
}
