@mixin list{

	nav.wp-block-navigation{
		ul,ol{
			&.wp-block-page-list{
				li{
					margin-bottom:0;
				}
			}
		}
	}

    ul,ol{
        padding-left:1.5em;

		
    
        li{

            ul,ol{
                padding-left:1em;
            }
        }
    }
    
    ul{
        list-style-type: disc;
    }
    
    ol{
        list-style-type: decimal;
    }
}
